.message {
    opacity: 0;
    position: absolute;
    width: 100%;
    text-align: center
}

.message p {
    display: inline-block;
    padding: 4px 10px;
    width: auto;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;

}