.message {
    opacity: 0;
    position: absolute;
    width: 100%;
}

.message p {
    padding: 4px;
    margin: 0 auto;
    width: 150px;
    background: #fff;
    border-radius: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;

}